*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
a.nav-link{
    color:black;
}
a.nav-link:hover{
    color: #B52C2A;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.container-form{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
}
.container-form h2{
    margin-bottom: 15px;
    font-size: 35px;
}
.container-form p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.container-form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}
.container-form a i{
    color: rgb(255, 85, 85);
    margin-right: 10x;
}
.container-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}
.container-form form textarea{
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}
.container-form .btn-enviar{
    padding: 8px 24px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    outline: 0px;
    background-color: rgb(255, 0, 0);
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300px ease;
    margin-bottom: 5px;
}
.container-form .btn-enviar:hover{
    background: #590101;
}
.container-contacto h1{
    background-image: url('../img/imgcontacto.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}
.container-contacto h1{
    top: 300px;
    color: rgb(0, 0, 0);
    font-size: 66px;
}
.container-contacto:hover{
    transform: scale(1.1);
}